<div class="form-group">
    <label class="control-label col-lg-3">{{attribute.title}}</label>
    <div class="col-lg-9">
        <input class="form-control" type="hidden" name="attributes[{{attribute.block_attribute_ref}}][value]" id="{{attribute.block_attribute_ref}}" value="{% if attribute.value %}{{attribute.value.value}}{% endif %}" style="padding:0;border:none;"/>
    </div>
</div>
<script>
	$('input#{{attribute.block_attribute_ref}}').select2({
			    minimumInputLength: 0,
			    initSelection: function (element, callback) {
			    	if($('input#{{attribute.block_attribute_ref}}').val().length > 0){
            			callback({text : $('input#{{attribute.block_attribute_ref}}').val()});
            		}
				},
			    ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
		            url: "{{ path('_majesteel_'~ attribute.block_attribute_ref) }}",
		            dataType: 'json',
		            data: function (term, page) {
		                return {
		                    term: term, // search term
		                    page_limit: 10
		                };
		            },
		            results: function (data, page) { // parse the results into the format expected by Select2.
		                // since we are using custom formatting functions we do not need to alter remote JSON data

		                return {results: data.results};
		            }
			    },
			    id: function(object) {
					return object.text;
				}
			});
</script>